:root {
    --Very-dark-blue_main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue_card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue_line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'outfit', sans-serif;
    background-color: var(--Very-dark-blue_main-BG);
    justify-content: center;
    display: block;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 350px;
    margin: 0 auto;
}

.wrapper {
    margin: 2rem 1rem;
    padding: 20px;
    height: 540px;
    background-color: var(--Very-dark-blue_card-BG);
    border-radius: 15px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
}

.img-top {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.img-top img {
    width: 100%;
    display: block;
}

.img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(178, 100%, 50%, 0.4);
    display: none;
}

.img-overlay img {
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-top:hover .img-overlay {
    display: block;
}

.box-text a {
    color: var(--White);
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
    padding: 20px 0;
    display: inline-block;
}

.box-text a:hover {
    color: var(--Cyan);
}

p {
    color: var(--Soft-blue);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.eth,
.days {
    display: flex;
    align-items: center;
}

.eth p {
    color: var(--Cyan);
    font-weight: 600;
    padding-left: 7px;
}

.days p {
    padding-left: 7px;
}

hr {
    border-color: var(--Very-dark-blue_line);
}

.author {
    display: flex;
    align-items: center;
    padding-top: 2px;
}

.author img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 15px;
}

.author p a.name {
    color: white;
    font-size: 100%;
}

.author p a.name:hover {
    color: var(--Cyan)
}

.button-container {
    margin-top: 20px;
    height: 36px;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}

.button {
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    color: var(--Very-dark-blue_main-BG);
    background-color: var(--Cyan);
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    color: var(--Very-dark-blue_main-BG);
    background-color: var(--White);
}

.button:disabled {
    opacity: 2;
}